<h1 id='title'>Best Seller Novels</h1>

<div class="center_div">
    <p>Search: <input ng-model="query" type="text"></p>
    <p><a href="#insertNovel">Insert New Novel</a></p>
    <h2>{{status}}</h2>
</div>

<table align="center" class="big_table">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th><a href="" ng-click="sortField = 'num_id'; reverse = ! reverse">ID</a></th>
        <th><a href="" ng-click="sortField = 'title'; reverse = ! reverse">Title</a></th>
        <th><a href="" ng-click="sortField = 'image_url'; reverse = ! reverse">Image</a></th>
        <th><a href="" ng-click="sortField = 'author'; reverse = ! reverse">Author</a></th>
        <th><a href="" ng-click="sortField = 'isbn'; reverse = ! reverse">ISBN</a></th>
        <th><a href="" ng-click="sortField = 'num_year_published'; reverse = ! reverse">Year Published</a></th>
        <th><a href="" ng-click="sortField = 'num_price'; reverse = ! reverse">Price</a></th>
    </tr>
    <tr ng-repeat="book in books | filter:query | orderBy:sortField:reverse">
        <td><a href="#deleteNovel/{{book.id}}"><img src="icons/delete.png"></a></td>
        <td><a href="#novelDetails/{{book.id}}"><img src="icons/view.png"></a></td>
        <td><a href="#updateNovel/{{book.id}}"><img src="icons/update.png"></a></td>
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td><img src="{{book.image_url}}" alt="{{book.title}}"></td>
        <td>{{book.author}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.year_published}}</td>
        <td>{{book.price}}</td>
    </tr>
</table>
