<h1 id='title'>Add New Book</h1>

<table align="center" class="small_table">
    <tr>
        <td>Title</td>
        <td><input type="text" ng-model="newbook.title"></td>
        <td class="fieldError">{{myErrors.title}}</td>
    </tr>
    <tr>
        <td>Image URL</td>
        <td><input type="text" ng-model="newbook.image_url"></td>
        <td class="fieldError">{{myErrors.image_url}}</td>
    </tr>
    <tr>
        <td>Author</td>
        <td><input type="text" ng-model="newbook.author"></td>
        <td class="fieldError">{{myErrors.author}}</td>
    </tr>
    <tr>
        <td>ISBN</td>
        <td><input type="text" ng-model="newbook.isbn"></td>
        <td class="fieldError">{{myErrors.isbn}}</td>
    </tr>
    <tr>
        <td>Year Published</td>
        <td><input type="text" ng-model="newbook.year_published"></td>
        <td class="fieldError">{{myErrors.year_published}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td><input type="text" ng-model="newbook.price"></td>
        <td class="fieldError">{{myErrors.price}}</td>
    </tr>
</table>

<div class="center_div">
    <input type="button" value="Insert Novel" data-ng-click="insertSave()">
</div>